.homeContentWrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 3rem 20rem 20rem;
    grid-template-areas: 
    "quote"
    "htitle"
    "blogRef"
    "recipeRef";
}

.homeSlider{
    grid-area: quote;
    background: url('../../../assets/images/growingFlower.gif');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.htitle{
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: bold;
    grid-area: htitle;
    text-align: center;
    color: #1f2d0f;
    margin-top: 3rem;
    font-size: 2rem;
    line-height: 3rem;
}


.blogRef{
    grid-area: blogRef;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.blogThumImg{
    grid-row: 3/10;
    grid-column: 2/8;
    box-shadow: 3px 3px 13px #000000b5;
    background-color: blueviolet;
    background: url('../../../assets/images/Blog1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.blogThumText{
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: bold;
    grid-row: 4/11;
    background-color: #afbf0e;
    grid-column: 5/12;
    box-shadow: 0px 5px 9px #929292c7;
    padding-left: 7rem;
    padding-top: 1rem;
}

.blogBtn{
    grid-row: 9/10;
    grid-column: 9/11;
    background-color: #1f2d0f;
    color:#afbf0e;
    line-height: 3rem;
    font-size: 1.5rem;
    text-align: center;
}

.recipeRef{
    grid-area: recipeRef;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.recipeThumText{
    font-family: 'Love Ya Like A Sister', cursive;
    font-weight: bold;
    background-color: #1f2d0f;
    color: #afbf0e;
    grid-row: 4/11;
    grid-column: 2/9;
    padding-left: 0.5rem;
    box-shadow: 0px 5px 9px #929292c7;
    padding-right: 6rem;
    padding-top: 1rem;
}

.recipeThumImg{
    grid-row: 3/10;
    grid-column: 6/12;
    box-shadow: 3px 3px 13px #000000b5;
    background-color: blueviolet;
    background: url('../../../assets/images/Blog1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.recipeBtn{
    grid-row: 9/10;
    grid-column: 3/5;
    font-size: 1.5rem;
    background-color: #afbf0e;
    color:#1f2d0f;
    line-height: 3rem;
    text-align: center;
}


@media only screen and (min-width: 768px){
    .homeContentWrapper{
        display: grid;
        grid-template-columns: 2fr 8fr 2fr;
        grid-template-rows: 30rem 3rem 30rem 30rem;
        grid-template-areas: 
        ". quote ."
        ". htitle ."
        ". blogRef ."
        " . recipeRef .";
    }
    .blogThumText{
        font-family: 'Love Ya Like A Sister', cursive;
        font-weight: bold;
        font-size: 1.5rem;
        color: #1f2d0f;
        background-color: #afbf0e;
        grid-row: 4/11;
        grid-column: 5/12;
        box-shadow: 0px 5px 9px #929292c7;
        padding-left: 15rem;
        padding-right: 1rem;
        padding-top: 2rem;
    }
    .recipeThumText{
        ont-family: 'Love Ya Like A Sister', cursive;
        font-weight: bold;
        background-color: #1f2d0f;
        color: #afbf0e;
        font-size: 1.5rem;
        grid-row: 4/11;
        grid-column: 2/9;
        padding-left: 1rem;
        box-shadow: 0px 5px 9px #929292c7;
        padding-right: 15rem;
        padding-top: 2rem;
    }
    .htitle{
        font-family: 'Love Ya Like A Sister', cursive;
        font-weight: bold;
        grid-area: htitle;
        text-align: center;
        color: #1f2d0f;
        margin-top: 3rem;
        font-size: 5rem;
        line-height: 3rem;
    }
    
}



