.footerBox{
    bottom: 0;
    width: 100vw;
    font-size: 1vw;
    text-align: center;
    background-color: #1f2d0f;
    color: white;
    padding-bottom: 0.5rem;
}
.footerLink{
    padding-left: 4vw;
}
.Icon{
    width: 3vw;
    height: 3vw;
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}