.recipeWrapper{
    min-height:calc(100vh - 9rem);
}
*{
    box-sizing: border-box;
}

.recipeName{
    text-align: center;
    padding: 1.5rem;
    font-size: 1.5rem;
    text-decoration: underline;
    text-shadow: 1px 1px 2px #717070;
    

}

.recipePic{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 11rem;;
    border-radius: 9rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0px 5px 9px #929292c7;
}
.optionBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem;
    background-color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid #212121;
    grid-template-areas: 
    "ingBtn dirBtn"
}

.ingBtn{
    
    grid-area: ingBtn;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
}

.ing{
    background-color: #212121;
    color: orange;

}
.dir{
    background-color: #212121;
    color: orange;

}



.dirBtn{
    grid-area: dirBtn;
    text-align: center;
    line-height: 3rem;
    cursor: pointer;
}

.recipeContentBox{
    display: grid;
    grid-template-columns: 1fr;
}

.ingBox{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    z-index: 2;
    margin: 1rem;
    opacity: 0;

}
.dirBox{
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 1rem;
    opacity: 0;
}

.ingVisible{
    opacity: 1;
}

.dirVisible{
    opacity: 1;
}

.index{
    display: inline;
}

@media only screen and (min-width: 768px){
    .recipeWrapper{
        min-height:calc(100vh - 9rem);
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .recipePic{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 33rem;;
        border-radius: 9rem;
        margin-left: auto;
        margin-right: auto;
        width: 44rem;
        box-shadow: 0px 5px 9px #929292c7;
    }
}